*__pycache__*
__pycache__/
**/__pycache__/
.idea
venv

*.pdf
*.csv
*.jpg
*.jpeg
*.npy
*.pt
*.txt
*.DS_Store
*._.DS_Store
*.pkl
*.log
*.zip
*.tar.gz

agent_outputs/*
dataset/
ckpts/
AGENTS.md
agent_outputs/
vis_output*